#wrapper{
	width:100%;
	margin:0 auto 0 auto;
	background-color:tan;
}
ul.navbar {
    list-style-type: none;
	width:100%;
    margin: 0 auto;
    padding: 0;
	overflow: hidden;
	background-color: silver;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
li.nav {
    float: left;
}

li a {
    display: block;
    padding: 5px 65px 5px 65px;
    background-color: silver;
	text-align: center;
}
img.headerImg{
	display: block;
	margin: 0 auto 0 auto;
	width: 100%;
}

img.splitImg{
	float: left;
	width: 50%;
}

p{
	text-indent:50px;
}
footer{
	margin-top:10px;
	border-top: 2px solid gray;
	text-align:center;
}
h6{
	opacity:.8;
}