/* Austin Kingrey 
   9/25/17 
*/ 

body {
	
	font-size: 1.2em;
	font: Arial;
	background-color: #e6e6fa;
	
}

em {
	color: green;
	font-weight: bold;
}

h3{
	color: maroon;
	text-transform: uppercase;
	text-align: right;
	font-size: 1.3em;
	font: Times, TimesNewRoman;
}