/* these four styles below are used with aside */

aside {
  width: 300px;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  overflow: visible;
}

aside h3 {
  margin: 0; 
}

aside p {
  margin: 0;
  padding: 5px;
  color: white;
  background-color: maroon;
  text-align: left;
}

 
/* enter the code for your styles below */
body{
	font-size:1em;
	font:Arial;
	color:white;
	background-color:navy;
}

header{
	width:900px;
	text-align:center;
	
}

main.content{
	width:500px;
	float:left;
}

#top{
	height:150px;
}
#middle{
	height:150px;
}#bottom{
	height:150px;
}

footer{
	width:900px;
	border:1px solid white;
}

#container{
	width:900px;
	margin-top:0;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	border-style:bold;
	border-width:1px;
}
